NOTIFICATION_DB_PORT=
NOTIFICATION_DB_NAME=
NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=

BOOK_DB_NAME=
BOOK_DB_USER=
BOOK_DB_PASSWORD=
BOOK_DB_PORT=
BOOK_DB_REDIS_PORT=

ACCOUNT_DB_NAME=
ACCOUNT_DB_USER=
ACCOUNT_DB_PASSWORD=
ACCOUNT_DB_PORT=

ANALYZE_PG_DB_NAME=
ANALYZE_PG_DB_USER=
ANALYZE_PG_DB_PASSWORD=
ANALYZE_DB_PORT=
ANALYZE_REDIS_DB_PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=