apiVersion: v1
kind: Secret
metadata:
  name: bookstatistic-secrets
  namespace: bookstatistic
type: Opaque
stringData:
  KAFKA_UI_PASSWORD:

  NOTIFICATION_DB_PASSWORD:
  BOOK_PG_DB_PASSWORD:
  ACCOUNT_DB_PASSWORD:
  ANALYZE_PG_DB_PASSWORD:
  KEYCLOAK_DB_PASSWORD:

  BOOK_MONGO_DB_PASSWORD:
  ANALYZE_MONGO_DB_PASSWORD:

  KEYCLOAK_CLIENT_SECRET:
  KEYCLOAK_INTERNAL_CLIENT_SECRET:
  KEYCLOAK_ADMIN_PASSWORD:

  EMAIL_PASSWORD:
  KEYCLOAK_SMTP_PASSWORD:

  ENCRYPT_KEY:

  NOTIFICATION_DB_URL: "jdbc:postgresql://notification-postgres:5432/notification_pgsql_db"
  BOOK_PG_DB_URL: "jdbc:postgresql://book-postgres:5432/book_pgsql_db"
  ACCOUNT_DB_URL: "jdbc:postgresql://account-postgres:5432/account_pgsql_db"
  ANALYZE_PG_DB_URL: "jdbc:postgresql://analyze-postgres:5432/analyze_pgsql_db"

  NOTIFICATION_DB_USER:
  BOOK_PG_DB_USER:
  ACCOUNT_DB_USER:
  ANALYZE_PG_DB_USER:
  KEYCLOAK_DB_USER:

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bookstatistic-config
  namespace: bookstatistic
data:
  KAFKA_UI_USERNAME:

  NOTIFICATION_DB_NAME: "notification_pgsql_db"
  BOOK_PG_DB_NAME: "book_pgsql_db"
  ACCOUNT_DB_NAME: "account_pgsql_db"
  ANALYZE_PG_DB_NAME: "analyze_pgsql_db"

  BOOK_DB_REDIS_HOST: "book-redis"
  BOOK_DB_REDIS_PORT: "6379"
  ANALYZE_REDIS_HOST: "analyze-redis"
  ANALYZE_REDIS_DB_PORT: "6378"

  BOOK_MONGO_DB_USERNAME: "book_mongodb_username"
  BOOK_MONGO_DB_HOSTNAME: "mongodb-book"
  BOOK_MONGO_DB_PORT: "27017"
  BOOK_MONGO_DB_NAME: "bookstatistic-book"
  ANALYZE_MONGO_DB_USERNAME: "book_mongodb_username"
  ANALYZE_MONGO_DB_HOSTNAME: "mongodb-analyze"
  ANALYZE_MONGO_DB_PORT: "27018"
  ANALYZE_MONGO_DB_NAME: "bookstatistic-analyze"

  KEYCLOAK_ISSUER_URI: "http://keycloak:8080/realms/bookstatistic-realm"
  KEYCLOAK_SERVER_URL: "http://keycloak:8080"
  KEYCLOAK_CLIENT_ID: "bookstatistic"
  KEYCLOAK_ADMIN_USERNAME: "admin"
  KEYCLOAK_REALM: "bookstatistic-realm"

  EMAIL_HOST:
  EMAIL_PORT:
  EMAIL_USERNAME:
  KEYCLOAK_SMTP_HOST:
  KEYCLOAK_SMTP_PORT:
  KEYCLOAK_SMTP_FROM:
  KEYCLOAK_SMTP_REPLY_TO:
  KEYCLOAK_SMTP_USERNAME:

  KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"

  ACCOUNT_SERVICE_URL: "http://account-service:8084"
  BOOK_SERVICE_URL: "http://book-service:8082"
  ANALYZE_SERVICE_URL: "http://analyze-service:8085"
  NOTIFICATION_SERVICE_URL: "http://notification-service:8081"
  GATEWAY_SERVICE_URL: "http://gateway:8083"
  CONFIG_SERVER_PATH: "http://config-server:8071"

  BOOK_STORAGE_PATH: "/data/books"

  ZIPKIN_URL: "http://zipkin:9411"

  OUTBOX_ENABLED: "true"
  TRACING_SAMPLER_PROBABILITY: "0.1"

  ACCOUNT_SERVER_PORT: "8084"
  BOOK_SERVER_PORT: "8082"
  ANALYZE_SERVER_PORT: "8085"
  NOTIFICATION_SERVER_PORT: "8081"
  GATEWAY_SERVER_PORT: "8083"

  CONFIG_SERVER_PORT: "8071"